.comingsoon {
  text-align: center;
  height: 500px;
}

.main {
  font-family: var(--font-mono);
  position: absolute;
  display: flex;

  left: 50%;
  transform: translate(-50%, 0);

  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.section {
  height: 5001px;
}
